# Trabajando con data parte 1

* Leer y escribir data deste archivos de texto
* Archivos JSON en python
* HTML con python
* Microsoft ficheros de Excel con python

## Lección 25 Leer archivos de texto

In [1]:
## Librerías que vamos a usar
import pandas as pd
import numpy as np
from pandas import Series, DataFrame 
from numpy.random import randn

In [8]:
df = pd.read_csv("text1.csv", header=None)
df

   0  1  2  3        4       5
0  q  r  s  t  manzana   fruta
1  2  3  4  5     pera   fruta
2  a  s  d  f   conejo  animal
3  5  2  5  7    perro  animal

In [13]:
pd.read_table("text1.csv",
              header=None, 
              delimiter=",")

   0  1  2  3        4       5
0  q  r  s  t  manzana   fruta
1  2  3  4  5     pera   fruta
2  a  s  d  f   conejo  animal
3  5  2  5  7    perro  animal

In [20]:
## Guardamos otro delimitador
df.to_csv("text2.csv", sep="\t")

## Lección 26 leer archvivos JSON

In [31]:
json_obj = """ 
{
    "zoo_animal":"León",
    "comida": ["Carne", "Vegetales", "Miel"],
    "color":"Oros",
    "ropa": null,
    "dieta": [{"zoo_animal": "Gacela", "comida":"hierba","color": "Marrón"}]
}
"""

In [28]:
json_obj

' \n{\n    "zoo_animal":"León",\n    "comida": ["Carne", "Vegetales", "Miel"],\n    "color":"Oros",\n    "ropa": null,\n    "dieta": [{"zoo_animal: "Gacela", "comida":"hierba","color": "Marrón"}]\n}\n'

In [24]:
import json

In [32]:
data = json.loads(json_obj)

In [33]:
data

{'zoo_animal': 'León',
 'comida': ['Carne', 'Vegetales', 'Miel'],
 'color': 'Oros',
 'ropa': None,
 'dieta': [{'zoo_animal': 'Gacela', 'comida': 'hierba', 'color': 'Marrón'}]}

In [34]:
json.dumps(data)

'{"zoo_animal": "Le\\u00f3n", "comida": ["Carne", "Vegetales", "Miel"], "color": "Oros", "ropa": null, "dieta": [{"zoo_animal": "Gacela", "comida": "hierba", "color": "Marr\\u00f3n"}]}'

In [37]:
df = DataFrame(data['dieta'])
df

  zoo_animal  comida   color
0     Gacela  hierba  Marrón

## Lección 27, como trabajar con HTML

In [38]:
from pandas import read_html

In [42]:
url = 'http://www.fdic.gov/bank/individual/failed/banklist.html'

In [43]:
df_list = pd.read_html(url)

ValueError: No tables found